@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.page {
  color: $color-text;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scrollbar-width: thin;
  scrollbar-color: rgb(73, 185, 255) transparent;
  overflow-x: hidden;
}