@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.4s ease;
  z-index: 1000;
  background: transparent;
  
  &.scrolled {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .headerInner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  a {
    .logo {
      width: 10rem;
      height: auto;
    }
  }
  
  nav {
    min-width: 60%;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      
      li {
        list-style: none;
        white-space: nowrap;
        margin-left: 2rem;
        width: 100%;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        
        a {
          text-decoration: none;   
          color: $color-text; 
          font-weight: 500;

          &:hover {
            color: $color-small-text;
          }
        }

        .hoverButton {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 10rem;
          margin:0 auto;
          padding: .5em 2em;
          overflow: hidden;
          border: 1px solid $color-primary-blue;
          border-radius: 10px;
          background-color: #fff;
          color: $color-primary-blue;
          font-size: 1em;
          
          &:hover {
            background-color: transparent;
            color: #fff;
          }

          &::before {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 0;
            height: 100%;
            background-color: $color-primary-blue;
            content: '';
            transition: width .3s ease;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  } 
}

    