@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.hero {
  width: 100%;
  height: 100vh;
  //background: linear-gradient(135deg, rgb(224, 240, 255), rgb(255, 235, 253));
  background-image: url("/bg2.jpg");
  background-size: cover;     // 縦横いっぱいに
  background-position: center; // 真ん中基準
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;


  .leftSide {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;

    .blueBg {
      width: 80%;
      height: 75%;
      background: $color-button-background-hover;
      margin-top: 5rem;
      position: relative;
      border-radius: $border-radius;
      
      .whiteBg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 95%;
        background: rgba(255, 255, 255, 0.896);
        border-radius: $border-radius;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10%;
        
        h2 {
          font-size: 2.8rem;
          line-height: 1.8;
          span {
            color: $color-primary-blue;
          }
        }
        h3 {
          font-size: 1.8rem;
          line-height: 1.8;
          color: $color-primary-navyblue;
        }
        .buttons {
          display: flex;
          justify-content: center;
          width: 80%;
          gap: 2rem;
          .requestInfoButton {
            @include blue-button-style;
            width: 18rem;
            padding: 1.5rem;
            border-radius: 1rem;
            font-size: 1.2rem;
            
            span {
              margin-right: 0
            }
          }
          .entryButton {
            @include blue-button-style;
            width: 18rem;
            padding: 1.5rem;
            border-radius: 1rem;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
    
  .rightSide {
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;

    .demoImage {
      width: 90%;
      height: auto;
      margin: 0 auto;
      margin-right: 5rem;
    }
  }
}